<html>
<head>
	<title>
		My First Blog
	</title>
	{% block headCss %}
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css')}}" type="text/css">
	{% endblock %}
</head>
	<body class="body">
		<h2>Welcome to your blog</h2>
		<form class="form-border" action="/add_post" method="POST">
			<div class="title wrapper">
				<input id="input-title" type="text" name="title" placeholder="Title"></input>
			</div>

			<div class="title wrapper">
				<textarea id="input-post" name="post"></textarea>
			</div>
			<div  class="description wrapper">
				<input type="submit" id="input-submit" value="POST"></input>
			</div>
		</form>

		{% for post in posts %}
			<div class="blog-border">
				<form action="/update" method="POST">
					<input id="input-id" type="hidden" name="item_id" value="{{post._id}}"></input>
					<div class="title">
						<div> <input id="input-title" type="text" name="title" value="{{ post.title }}"></input> </div>
					</div>
					<div class="post">
						<div>  <input id="input-post" type="text" name="post" value="{{ post.post }}"></input> </div>
					</div>
					<input type="submit" id="input-update" value="UPDATE"></input>
				</form>

				<form action="/delete" method="POST">
					<input id="input-id" type="hidden" name="item_id" value="{{post._id}}" placeholder="Title"></input>
					<input type="submit" id="input-delete" value="DELETE"></input>
				</form>
		  	</div>
		{% endfor %}

	</body>

</html>
